  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.9)), url(https://ritzcarlton-h.assetsadobe.com/is/image/content/dam/the-ritz-carlton/hotels/europe/spain/tenerife-abama/assetmigration/RCABAMA_00236_conversion.png?$XlargeViewport100pct$);">
    <div class="container">
      <h1>FeedCocktail</h1>
      <p>Les meilleures recettes de cocktail Feed</p>
    </div>
  </div>
  <div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path cocktail.photo %>)">
          <p><%= cocktail.name %></p>
          <%= link_to "", cocktail_path(cocktail), class: "card-link"%>
        </div>
      </div>
    <% end %>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card-category new-cocktail-card">
        <p>Add a new cocktail !</p>
        <%= link_to "", cocktails_new_path, class: "card-link"%>
      </div>
    </div>
  </div>
</div>
